.asideInfo {
  position: absolute;
  padding-top: 0;
  left: 15px;
  top: 86px;
  width: 380px;
  height: calc(100vh - 140px);
  background: #fff;
  z-index: 20;
  transform: translateX(0);
  transition: all ease 350ms;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.asideInfo_hidden {
  transform: translateX(-110%);
}

.asideInfo__header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  position: relative;
}

.asideInfo__header h3 {
  margin: 0;
  margin-top: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 0;
  position: absolute;
  bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: "Base&Bloom";
  line-height: 1;
}

.asideInfo__list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
}

.asideInfo__listItem {
  padding-left: 38px;
  margin-top: 12px;
  position: relative;
  font-size: 18px;
  font-family: "Lack";
  cursor: pointer;
}

.asideInfo__listItem::before {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.asideInfo__image--lost {
  background-color: var(--map-lost);
}

.asideInfo__image--art {
  background-color: var(--map-art);
}

.asideInfo--lost .asideInfo__image {
  border-bottom: 7px solid var(--map-lost);
}
.asideInfo--lost .asideInfo__listItem::before {
  background: var(--map-lost);
}

.asideInfo--art .asideInfo__image {
  border-bottom: 7px solid var(--map-art);
}
.asideInfo--art .asideInfo__listItem::before {
  background: var(--map-art);
}

.asideInfo--arch .asideInfo__image {
  border-bottom: 7px solid var(--map-arch);
}
.asideInfo--arch .asideInfo__listItem::before {
  background: var(--map-arch);
}

.asideInfo--bars .asideInfo__image {
  border-bottom: 7px solid var(--map-bars);
}
.asideInfo--bars .asideInfo__listItem::before {
  background: var(--map-bars);
}

.asideInfo--kids .asideInfo__image {
  border-bottom: 7px solid var(--map-kids);
}
.asideInfo--kids .asideInfo__listItem::before {
  background: var(--map-kids);
}

.asideInfo--tourism .asideInfo__image {
  border-bottom: 7px solid var(--map-tourism);
}
.asideInfo--tourism .asideInfo__listItem::before {
  background: var(--map-tourism);
}

.asideInfo--ninety .asideInfo__image {
  border-bottom: 7px solid var(--map-ninety);
}
.asideInfo--ninety .asideInfo__listItem::before {
  background: var(--map-ninety);
}

.asideInfo__header--base {
  padding-top: 60px;
  min-height: auto;
}

.asideInfo__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.asideInfo__description {
  padding: 0 32px;
  white-space: pre-line;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 24px 0;
  font-family: "Piazzolla";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  padding-bottom: 60px;
}

.asideInfo__description p {
  margin: 0;
}

.asideInfo__closeButton {
  cursor: pointer;
  position: absolute;
  top: 23px;
  left: 14px;
  border: none;
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 7px;
  background-image: url("/images/icons/back_arrow.svg");
}

@media (max-width: 780px) {
  .asideInfo {
    border-radius: 0;
    width: 100%;
    z-index: 50;
    height: calc(100vh - 70px);
    left: 0;
    top: 0;
  }
  .asideInfo__closeButton {
    display: none;
  }
  .asideInfo__image {
    height: 240px;
  }
  .asideInfo__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .asideInfo__description {
    padding: 0 8px;
    margin-top: 14px;
    padding-bottom: 120px;
  }
}