$map-lost-color: #e587fc;
$map-art-color: #6775fc;
$map-arch-color: #ed7f71;
$map-orbit-color: #ff914f;
$map-kids-color: #78d7e0;
$map-tourism-color: #48d27e;
$map-ninety-color: #ffd15a;

$map-lost-url: '/v1667645828/oka_u8koha.webp';
$map-art-url: '/v1667646698/cvety_du_chgbpp.webp';
$map-arch-url: '/v1667645947/3shkola_weftt1.webp';
$map-orbit-url: '/v1667646900/orbita_rus_n02rrw.webp';
$map-kids-url: '/c_scale,w_1200/v1669533148/duotone_ekvwlp.webp';
$map-tourism-url: '/v1667646032/karier_kkdf7q.webp';
$map-ninety-url: '/v1667647196/nnt_silece_thoughts_2021_zwzc6x.webp';

.asideInfo {
  position: absolute;
  padding-top: 0;
  left: 15px;
  top: 100px;
  width: 380px;
  height: calc(100vh - 140px);
  background: #fff;
  z-index: 20;
  transform: translateX(0);
  transition: all ease 350ms;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 780px) {
  .asideInfo {
    width: 380px;
    z-index: 50;
    left: 4px;
    top: 60%
  }
}

.asideInfo_hidden {
  transform: translateX(-110%);
}

.asideInfo__header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  position: relative;
}

.asideInfo__header h3 {
  margin: 0;
  margin-top: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 0;
  position: absolute;
  bottom: 20px;

  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: 'Base&Bloom';
  line-height: 1;
}

.asideInfo__list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
}

.asideInfo__listItem {
  padding-left: 38px;
  margin-top: 12px;
  position: relative;
  font-size: 18px;
  font-family: 'Lack';
  cursor: pointer;
}

.asideInfo__listItem::before {
  content: '';
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.asideInfo__image--lost {
  background-color: $map-lost-color;
}

.asideInfo__image--art {
  background-color: $map-art-color;
}

.asideInfo--lost {
  .asideInfo__image {
    border-bottom: 7px solid $map-lost-color;
  }
  .asideInfo__listItem::before {
    background: $map-lost-color;
  }
}

.asideInfo--art {
  .asideInfo__image {
    border-bottom: 7px solid $map-art-color;
  }
  .asideInfo__listItem::before {
    background: $map-art-color;
  }
}

.asideInfo--arch {
  .asideInfo__image {
    border-bottom: 7px solid $map-arch-color;
  }
  .asideInfo__listItem::before {
    background: $map-arch-color;
  }
}

.asideInfo--orbit {
  .asideInfo__image {
    border-bottom: 7px solid $map-orbit-color;
  }
  .asideInfo__listItem::before {
    background: $map-orbit-color;
  }
}

.asideInfo--kids {
  .asideInfo__image {
    border-bottom: 7px solid $map-kids-color;
  }
  .asideInfo__listItem::before {
    background: $map-kids-color;
  }
}

.asideInfo--tourism {
  .asideInfo__image {
    border-bottom: 7px solid $map-tourism-color;
  }
  .asideInfo__listItem::before {
    background: $map-tourism-color;
  }
}

.asideInfo--ninety {
  .asideInfo__image {
    border-bottom: 7px solid $map-ninety-color;
  }
  .asideInfo__listItem::before {
    background: $map-ninety-color;
  }
}

.asideInfo__header--base {
  padding-top: 60px;
  min-height: auto;
}

.asideInfo__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // max-height: 40%;
}

.asideInfo__description {
  padding: 0 32px;
  white-space: pre-line;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  overflow: scroll;
  margin: 24px 0;

  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  p {
    margin: 0;
  }
}

.asideInfo__closeButton {
  cursor: pointer;
  position: absolute;
  top: 23px;
  left: 14px;
  border: none;
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 7px;
  background-image: url('/images/icons/back_arrow.svg');
}
