.mapWrapper {
  width: 100%;
  height: calc(100vh - 52px);
  overflow: hidden;
  padding: 0;
}
.mapContainer {
  width: 100%;
  height: 100%;
}
.mapToolBar {
  height: 70px;
  padding: 1em 1em;
  white-space: nowrap;
  width: calc(100% - 400px);
  overflow: hidden;
  background: transparent;
  position: absolute;
  z-index: 20;
  left: 400px;
}

@media (max-width: 780px) {
  .mapToolBar {
    left: 0;
    width: 100%;
  }
}

.mapToolBarTag {
  display: inline-block;
  padding: 6px 14px;
  transition: all 250ms ease;
  cursor: pointer;
  border: 2px solid transparent;
  background: #fff;
  box-sizing: border-box;
  border-radius: 18.5px;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  font-size: 18px;
}

.mapToolBarTag:hover {
  opacity: 0.5;
}
.mapToolBarTag + .mapToolBarTag {
  margin-left: 8px;
  box-sizing: border-box;
}
.mapToolBarTag.active {
  opacity: 1;
  color: #fff;
  border: none;
  border: 2px solid transparent;
}
.mapToolBarTag.active:hover {
  opacity: 0.6;
  box-sizing: border-box;
}
