.header {
  padding: 25px 140px;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: "Lack";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.navigation {
  margin: 0;
  padding: 0;
}

.navigation ul {
  margin: 0;
  display: flex;
  padding: 0;
}

.navigation li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.navigation li + li {
  margin-left: 40px;
}