.container {
  border-bottom: 1px solid black;
  width: 100%;
}

.announcementSection {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1400px;

  width: 100%;
  background: #fff;
  padding: 36px 2em;
  z-index: 20;
}
.announcementContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 16px;
}

.announcementTitle {
  text-decoration: underline;
  display: block;
  margin-left: auto;
  font-size: 4em;
  padding: 0;
  font-weight: 600;
  line-height: 120%;
  margin-top: -0.8rem;
  font-family: "Base&Bloom";
  text-transform: uppercase;
  margin-bottom: 6rem;
  grid-column: 1/1;

  @media (max-width: 920px) {
    margin-bottom: 0;
    grid-column: 1/3;
    grid-row: 1/1;
  }
}

.announcementTags {
  list-style: none;
  grid-column: 1/1;
  padding: 0;

  li {
    display: inline;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 2em;
    transition: all ease 350ms;
  }
  li:hover {
    background: black;
    color: white;
  }
  li + li {
    margin-left: 8px;
  }
}

.announcementAuthor {
  grid-column: 1/1;
}

.announcementContainer:hover .announcementTitle {
  font-style: italic;
}

.announcementHeader {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: left;
}

.announcementContent {
  background-image: url("/images/posts/poly/image4.jpg");
  background-position: 50% 35%;
  background-size: cover;
  height: 100%;
  grid-row: 1/4;
  grid-column: 2/2;

  @media (max-width: 920px) {
    grid-row: 2/2;
    height: 320px;
    grid-column: 1/3;
  }
}

.announcementSection small {
  display: block;
  text-align: left;
  line-height: 1;
  font-size: 1em;
}
