@font-face {
  font-family: "Base&Bloom";
  src: local("Base&Bloom"), local("Base&Bloom");
  src: url("../public/fonts/Base&Bloom-Base&Bloom-Web.woff2") format("woff2");
  src: url("../public/fonts/Base&Bloom-Base&Bloom-Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
