.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1400px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.post {
  width: 100%;
  padding: 16px 0;
  cursor: pointer;
}

.post + .post {
  border-bottom: 1px solid #000;
}
